# **Setup**

* https://www.kaggle.com/datasets/aadharshviswanath/aircraft-sensor-and-engine-performance

In [3]:
!python --version

from psutil import *
print(f'CPU Cores: {cpu_count()}')
print(f'System Memory: {virtual_memory()[0]/(1024**3)} GB')

Python 3.11.6
CPU Cores: 16
System Memory: 15.692092895507812 GB

In [4]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

import os 
from zipfile import ZipFile
from IPython.display import clear_output

# **Data Import**

## **Download & Extract**

In [21]:
!kaggle datasets download -d aadharshviswanath/aircraft-sensor-and-engine-performance --unzip

Downloading aircraft-sensor-and-engine-performance.zip to c:\Users\aksha\OneDrive\06 Data Science & Analytics\Github\Machine-Learning\13 Aircraft Engine Failure Prediction

  0%|          | 0.00/6.29M [00:00<?, ?B/s]
 16%|█▌        | 1.00M/6.29M [00:00<00:02, 2.06MB/s]
 48%|████▊     | 3.00M/6.29M [00:00<00:00, 5.88MB/s]
 80%|███████▉  | 5.00M/6.29M [00:00<00:00, 8.09MB/s]
100%|██████████| 6.29M/6.29M [00:00<00:00, 7.45MB/s]

## **Load Data - Train**

In [26]:
df_train = pd.read_excel('Dataset/PM_train.xlsx')

print(df_train.shape)
print(df_train.columns)
df_train.head()

(20631, 26)
Index(['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
       's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
       's15', 's16', 's17', 's18', 's19', 's20', 's21'],
      dtype='object')

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100,39.06,23.4190
1,1,2,0.0019,-0.0003,100,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100,39.00,23.4236
2,1,3,-0.0043,0.0003,100,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100,38.95,23.3442
3,1,4,0.0007,0.0000,100,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100,38.88,23.3739
4,1,5,-0.0019,-0.0002,100,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100,38.90,23.4044

## **Load Data - Test**

In [25]:
df_test = pd.read_excel('Dataset/PM_test.xlsx')

print(df_test.shape)
print(df_test.columns)
df_test.head()

(11939, 26)
Index(['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
       's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
       's15', 's16', 's17', 's18', 's19', 's20', 's21'],
      dtype='object')

,id,cycle,setting1,setting2,setting3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,0.0023,0.0003,100,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392.0,2388,100,38.86,23.3735
1,1,2,-0.0027,-0.0003,100,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393.0,2388,100,39.02,23.3916
2,1,3,0.0003,0.0001,100,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393.0,2388,100,39.08,23.4166
3,1,4,0.0042,0.0000,100,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391.0,2388,100,39.00,23.3737
4,1,5,0.0014,0.0000,100,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390.0,2388,100,38.99,23.4130